{% extends 'base.html' %}


{% block title %}
about{% endblock title %}

{% block style %}
<link href="style.css" rel="stylesheet">{% endblock style %}

{% block body %}
<div class="container">
    <p class="text-center" style="color:black; font-size:2rem;">
        About Computer Hub
    </p>
    <div class="about text-center" style="background-color:#E4D9D7; width:50%; margin:auto;
    border-radius:0.5rem; padding:10px 0 10px">
        <div>
            <p>
            Email id- computerhub@gmail.com
            </p>
            <p>
            Contact number- +91-(0231)-202025
            </p>
            <p style="padding:5px 0 0;">
            Address: Opp. to Pantaloons, Rajarampuri 9th lane, Kolhapur
            </p>
        </div> 

    </div>
</div>
{% endblock body %}

